.content-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 6.5em;
  position: absolute;
  width: 100%;
  @include media("<=1050px") {
    flex-direction: column;
    margin-top: 2em;
    @include media("<=550px") {
      margin-top: 0em;
    }
  }
}

.quiz-maker {
  background: linear-gradient(to right, #353369, #69699c);
  &:hover {
    transform: scale(1.1);
  }
  @include media(">550px", "<=1050px") {
    margin-bottom: 4em;
  }
  @include media("<=550px") {
    margin-bottom: 2em;
  }
  &__btn {
    background-color: white;
    position: relative;
    color: #69699c;
    &--create {
      color: #69699c;
    }
    &--play {
      color: #277aa3;
    }
    &::after {
      content: "";
      display: inline-block;
      height: 100%;
      background-color: #fff;
      width: 100%;
      border-radius: 1em;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: 0.4s;
    }
    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }
    &:active {
      transform: translateY(-1px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
  }
}

.quiz-time {
  background: linear-gradient(to right, #277aa3, #0cb3d5);
  &:hover {
    transform: scale(1.1);
  }
}
